[submodule "trackingproto"]
	path = trackingproto
	url = https://gitlab.com/imprexionData/android/protobuf/trackingproto.git
[submodule "library"]
	path = yx-base-library
	url = git@gitlab.com:imprexionData/android/yx-base-library.git
